{% extends 'articles/base.html' %}
{% load bootstrap4 %}

{% block body %}
<h1>{{ article.id}}번글 {{ article.title }}</h1>
<div>
  <p style="font-size: 5px; display: inline;"> 작성시간 : {{ article.created_at }} </p>
  <p style="font-size: 5px; display: inline;"> 수정시간 : {{ article.updated_at }} </p>
</div>
<hr>
<p> {{ article.content }}</p>
<hr>
<h2> 댓글 {{ comments.count }}</h2>
{% for comment in comments %}
<li>{{ comment.content }}</li>
<li>{{ comment.created_at }}</li>
<form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST" oneclick="return confirm('진짜 지울래?')">
  {% csrf_token %}
  <input type="submit" value="삭제">
</form>
{% empty %}
  <p>댓글이 없어요 작성해주세요. </p>
{% endfor %}
{% comment %}
{% for comment in article.comment_set.all %}
<li>{{ comment.content }}</li>
<li>{{ comment.created_at }}</li>
{% endfor %}
{% endcomment %}
<hr>
<form action="{% url "articles:comment_create" article.pk %}" method="POST">
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  <input type="text" name="content">
  <input type="submit" value="얍~!">
</form>
{% endblock %}