{% extends 'articles/base.html' %}
{% block body %}
{% load bootstrap4 %}

{% if request.resolver_match.url_name == 'create' %}
  <h1 class="text-center">글 작성하기</h1>
{% else %}
  <h1 class="text-center">글 작성하기</h1>
{% endif %}

<form action="" method="POST" class="form" enctype='multipart/form-data'>
{% comment %} request.FILES.get('image')과 같이 파일을 가져오고자 할때
 enctype를 multipart/form으로 변경해 줘야 받아 올 수 있다. {% endcomment %}
    {% csrf_token %}
    {% bootstrap_form article_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
</form>
{% endblock %}

{% comment %} 
<form action="" method="POST">
  {% csrf_token %}
  {{ article_form.as_p }}
  <button type="submit" class="btn btn-primary">submit</button>
</form>
{% endcomment %}